<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="profile" href="https://gmpg.org/xfn/11">

    <title>Connected &#8211; swissyield finance</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="swissyield finance &raquo; Feed" href="https://swissyield.finance/feed/" />
    <link rel="alternate" type="application/rss+xml" title="swissyield finance &raquo; Comments Feed" href="https://swissyield.finance/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/swissyield.finance\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.3"}};
        !function(e,a,t){var r,n,o,i,p=a.createElement("canvas"),s=p.getContext&&p.getContext("2d");function c(e,t){var a=String.fromCharCode;s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,e),0,0);var r=p.toDataURL();return s.clearRect(0,0,p.width,p.height),s.fillText(a.apply(this,t),0,0),r===p.toDataURL()}function l(e){if(!s||!s.fillText)return!1;switch(s.textBaseline="top",s.font="600 32px Arial",e){case"flag":return!c([127987,65039,8205,9895,65039],[127987,65039,8203,9895,65039])&&(!c([55356,56826,55356,56819],[55356,56826,8203,55356,56819])&&!c([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]));case"emoji":return!c([55357,56424,8205,55356,57212],[55357,56424,8203,55356,57212])}return!1}function d(e){var t=a.createElement("script");t.src=e,t.defer=t.type="text/javascript",a.getElementsByTagName("head")[0].appendChild(t)}for(i=Array("flag","emoji"),t.supports={everything:!0,everythingExceptFlag:!0},o=0;o<i.length;o++)t.supports[i[o]]=l(i[o]),t.supports.everything=t.supports.everything&&t.supports[i[o]],"flag"!==i[o]&&(t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&t.supports[i[o]]);t.supports.everythingExceptFlag=t.supports.everythingExceptFlag&&!t.supports.flag,t.DOMReady=!1,t.readyCallback=function(){t.DOMReady=!0},t.supports.everything||(n=function(){t.readyCallback()},a.addEventListener?(a.addEventListener("DOMContentLoaded",n,!1),e.addEventListener("load",n,!1)):(e.attachEvent("onload",n),a.attachEvent("onreadystatechange",function(){"complete"===a.readyState&&t.readyCallback()})),(r=t.source||{}).concatemoji?d(r.concatemoji):r.wpemoji&&r.twemoji&&(d(r.twemoji),d(r.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dripicons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/dripicons/assets/css/dripicons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='elegant-icons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/elegant-icons/assets/css/elegant-icons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/font-awesome/assets/css/all.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='ionicons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/ionicons/assets/css/ionicons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='linea-icons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/linea-icons/assets/css/linea-icons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='linear-icons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/linear-icons/assets/css/linear-icons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='material-icons-css'  href='https://fonts.googleapis.com/icon?family=Material+Icons&#038;ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='simple-line-icons-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/icons/simple-line-icons/assets/css/simple-line-icons.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css'  href='https://swissyield.finance/wp-includes/css/dist/block-library/style.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'  href='https://swissyield.finance/wp-content/plugins/revslider/public/assets/css/rs6.css?ver=6.2.22' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {}
    </style>
    <link rel='stylesheet' id='select2-css'  href='https://swissyield.finance/wp-content/plugins/qode-framework/inc/common/assets/plugins/select2/select2.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='lekker-core-dashboard-style-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/core-dashboard/assets/css/core-dashboard.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='perfect-scrollbar-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/assets/plugins/perfect-scrollbar/perfect-scrollbar.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='swiper-css'  href='https://swissyield.finance/wp-content/themes/lekker/assets/plugins/swiper/swiper.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='lekker-main-css'  href='https://swissyield.finance/wp-content/themes/lekker/assets/css/main.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='lekker-core-style-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/assets/css/lekker-core.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'  href='https://swissyield.finance/wp-content/themes/lekker/assets/plugins/magnific-popup/magnific-popup.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='lekker-google-fonts-css'  href='https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%2C700&#038;subset=latin-ext&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='lekker-style-css'  href='https://swissyield.finance/wp-content/themes/lekker/style.css?ver=5.5.3' type='text/css' media='all' />
    <style id='lekker-style-inline-css' type='text/css'>
        body { background-color: #ffffff;background-repeat: no-repeat;background-size: cover;}.qodef-h1 a:hover, h1 a:hover, .qodef-h2 a:hover, h2 a:hover, .qodef-h3 a:hover, h3 a:hover, .qodef-h4 a:hover, h4 a:hover, .qodef-h5 a:hover, h5 a:hover, .qodef-h6 a:hover, h6 a:hover, a:hover, p a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-mobile-header .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-list-horizontal ul li a:hover, #qodef-page-sidebar .widget_icl_lang_sel_widget .wpml-ls-legacy-list-vertical ul li a:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-page-footer .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-item-toggle:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-item-toggle:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown .wpml-ls-sub-menu .wpml-ls-item a:hover, #qodef-side-area .widget_icl_lang_sel_widget .wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu .wpml-ls-item a:hover, .qodef-blog article .qodef-e-info .qodef-e-info-item a:hover, #qodef-page-comments-list .qodef-comment-item .qodef-e-date a:hover, .qodef-m-filter .qodef-m-filter-item.qodef--active, .qodef-m-filter .qodef-m-filter-item:hover, .wp-block-button.is-style-outline .wp-block-button__link, .wp-block-file:hover, #qodef-woo-page .qodef-woo-ratings .qodef-m-star, .qodef-woo-shortcode .qodef-woo-ratings .qodef-m-star, .woocommerce-account .woocommerce-MyAccount-navigation ul li.is-active a, #qodef-woo-page.qodef--single #review_form .comment-form-rating a:before, #qodef-woo-page.qodef--single #review_form .comment-form-rating a.active:after, .widget.woocommerce .qodef-woo-ratings .qodef-m-star, .widget.woocommerce .button, .widget.widget_layered_nav ul li.chosen a, .widget.widget_product_categories li a:hover, .widget.widget_products .qodef-woo-product-title a:hover, .widget.widget_recently_viewed_products .qodef-woo-product-title a:hover, .widget.widget_top_rated_products .qodef-woo-product-title a:hover, .widget.widget_recent_reviews a:hover, #qodef-page-footer .widget.widget_layered_nav ul li.chosen a, #qodef-page-footer .widget.widget_product_categories li a:hover, #qodef-page-footer .widget.widget_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_recently_viewed_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_top_rated_products .qodef-woo-product-title a:hover, #qodef-page-footer .widget.widget_recent_reviews a:hover, #qodef-page-sidebar .widget.widget_layered_nav ul li.chosen a, #qodef-page-sidebar .widget.widget_product_categories li a:hover, #qodef-page-sidebar .widget.widget_products .qodef-woo-product-title a:hover, #qodef-page-sidebar .widget.widget_recently_viewed_products .qodef-woo-product-title a:hover, #qodef-page-sidebar .widget.widget_top_rated_products .qodef-woo-product-title a:hover, #qodef-page-sidebar .widget.widget_recent_reviews a:hover, #qodef-top-area .qodef-woo-dropdown-cart .qodef-woo-dropdown-items a:hover, .qodef-portfolio-single .qodef-portfolio-info a:hover, .qodef-portfolio-single .qodef-portfolio-info p:hover, .qodef-portfolio-list.qodef-item-layout--info-below .qodef-e-info-category a:hover, .qodef-search-cover-form .qodef-m-form-field, .qodef-search-cover-form .qodef-m-form-field:focus, .qodef-fullscreen-search-holder .qodef-m-form-submit:hover, .qodef-banner .qodef-m-text-field, .qodef-button.qodef-layout--outlined, .qodef-interactive-link-showcase .qodef-m-item, .qodef-pricing-table .qodef-m-content ul li:before, .qodef-text-marquee .qodef-m-text>span:after, .qodef-browser--ms-explorer .qodef-text-marquee .qodef-m-text--1, .qodef-browser--ms-explorer .qodef-text-marquee .qodef-m-text--2, .qodef-browser--ms-explorer .qodef-text-marquee .qodef-m-text--3, .qodef-social-share li.qodef-facebook-share a:hover, .qodef-social-share li.qodef-twitter-share a:hover, .qodef-social-share li.qodef-linkedin-share a:hover, .qodef-social-share li.qodef-tumblr-share a:hover, .qodef-social-share li.qodef-pinterest-share a:hover, .qodef-social-share li.qodef-vk-share a:hover, #qodef-page-spinner .qodef-m-inner, #qodef-page-sidebar .widget.widget_lekker_core_social_icons_group .qodef-icon-holder.qodef-layout--circle:hover a { color: rgba(204,59,40,0.75);}.wp-block-cover-image h1 a:hover, .wp-block-cover-image h2 a:hover, .wp-block-cover-image h3 a:hover, .wp-block-cover-image h4 a:hover, .wp-block-cover-image h5 a:hover, .wp-block-cover-image h6 a:hover, .wp-block-cover-image p a:hover, .wp-block-cover h1 a:hover, .wp-block-cover h2 a:hover, .wp-block-cover h3 a:hover, .wp-block-cover h4 a:hover, .wp-block-cover h5 a:hover, .wp-block-cover h6 a:hover, .wp-block-cover p a:hover, #qodef-page-sidebar .widget.widget_lekker_core_social_icons_group .qodef-icon-holder:hover a { color: rgba(204,59,40,0.75)!important;}.qodef-blog .mejs-container .mejs-controls .mejs-time-rail>*>:not(.mejs-time-float)>*, .qodef-blog .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-current, .qodef-blog .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total .mejs-horizontal-volume-current, .wp-block-button.is-style-outline .wp-block-button__link:hover, .qodef-header--vertical-sliding .qodef-header-vertical-sliding-navigation>ul>li .qodef-drop-down-second-inner ul li>a span:before, .qodef-header--vertical .qodef-header-vertical-navigation>ul>li .qodef-drop-down-second-inner ul li>a span:before, .qodef-header-navigation ul li.qodef-menu-item--wide .qodef-drop-down-second-inner>ul>li ul li>a span:before, #qodef-woo-page .qodef-woo-product-mark, .qodef-woo-shortcode .qodef-woo-product-mark, .widget.woocommerce .button:hover, .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle, #qodef-page-footer .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle, #qodef-page-sidebar .widget.widget_price_filter .price_slider_wrapper .ui-widget-content .ui-slider-handle, .qodef-testimonials-list .swiper-pagination-bullets .swiper-pagination-bullet:before, .qodef-button.qodef-layout--outlined:hover, .qodef-icon-holder.qodef-layout--circle, .qodef-icon-holder.qodef-layout--square, .qodef-pricing-table .qodef-m-title, #qodef-page-spinner.qodef-layout--progress-bar .qodef-m-spinner-line-front, .widget.widget_lekker_core_social_icons_group .qodef-icon-holder.qodef-layout--circle, #qodef-page-footer .widget.widget_lekker_core_social_icons_group .qodef-icon-holder.qodef-layout--circle { background-color: rgba(204,59,40,0.75);}.qodef-blog article .qodef-e-info-tags a:hover, .widget.widget_product_tag_cloud .tagcloud a:hover, #qodef-page-footer .widget.widget_product_tag_cloud .tagcloud a:hover, #qodef-page-sidebar .widget.widget_product_tag_cloud .tagcloud a:hover { background-color: rgba(204,59,40,0.75)!important;}.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:hover, .widget.woocommerce .button, .widget.woocommerce .button:hover, #qodef-page-footer .widget.widget_product_search input:focus, .qodef-button.qodef-layout--outlined, .qodef-button.qodef-layout--outlined:hover { border-color: rgba(204,59,40,0.75);}.qodef-interactive-link-showcase .qodef-m-item .qodef-e-title:after,.qodef-interactive-link-showcase .qodef-m-item .qodef-e-title:before, .qodef-text-marquee .qodef-m-text--1, .qodef-text-marquee .qodef-m-text--2, .qodef-text-marquee .qodef-m-text--3 { stroke-color: rgba(204,59,40,0.75);}.qodef-header-navigation ul li .qodef-drop-down-second { background-color: #ffffff;}.qodef-header-navigation> ul > li > a { color: #0a0a0a;}.qodef-header-navigation> ul > li > a:hover { color: #dd6a6a;}.qodef-header-navigation> ul > li.current-menu-ancestor > a, .qodef-header-navigation> ul > li.current-menu-item > a { color: #ffffff;}.qodef-header-navigation > ul > li.qodef-menu-item--narrow .qodef-drop-down-second ul li a { color: #81d742;}.qodef-header-navigation > ul > li.qodef-menu-item--narrow .qodef-drop-down-second ul li:hover > a { color: #81d742;}.qodef-header-navigation > ul > li.qodef-menu-item--narrow .qodef-drop-down-second ul li.current-menu-ancestor > a, .qodef-header-navigation > ul > li.qodef-menu-item--narrow .qodef-drop-down-second ul li.current-menu-item > a { color: #81d742;}#qodef-side-area { background-color: #1f1f1f;}.qodef-page-title { background-color: #f7f7f7;}.qodef-header--standard #qodef-page-header { height: 150px;background-color: #efefef;}
    </style>
    <link rel='stylesheet' id='lekker-core-elementor-css'  href='https://swissyield.finance/wp-content/plugins/lekker-core/inc/plugins/elementor/assets/css/elementor.min.css?ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css?ver=5.9.1' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-animations-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=3.0.11' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-legacy-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/css/frontend-legacy.min.css?ver=3.0.11' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-frontend-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=3.0.11' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-4749-css'  href='https://swissyield.finance/wp-content/uploads/elementor/css/post-4749.css?ver=1613053479' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-global-css'  href='https://swissyield.finance/wp-content/uploads/elementor/css/global.css?ver=1613053479' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-post-5217-css'  href='https://swissyield.finance/wp-content/uploads/elementor/css/post-5217.css?ver=1614008750' type='text/css' media='all' />
    <link rel='stylesheet' id='google-fonts-1-css'  href='https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-shared-0-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.12.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-solid-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.12.0' type='text/css' media='all' />
    <link rel='stylesheet' id='elementor-icons-fa-regular-css'  href='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/font-awesome/css/regular.min.css?ver=5.12.0' type='text/css' media='all' />
    <script type='text/javascript' src='https://swissyield.finance/wp-includes/js/jquery/jquery.js?ver=1.12.4-wp' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/revslider/public/assets/js/rbtools.min.js?ver=6.2.22' id='tp-tools-js'></script>
    <script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/revslider/public/assets/js/rs6.min.js?ver=6.2.22' id='revmin-js'></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <link rel="https://api.w.org/" href="https://swissyield.finance/wp-json/" /><link rel="alternate" type="application/json" href="https://swissyield.finance/wp-json/wp/v2/pages/5217" /><link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://swissyield.finance/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://swissyield.finance/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.5.3" />
    <link rel="canonical" href="https://swissyield.finance/connected/" />
    <link rel='shortlink' href='https://swissyield.finance/?p=5217' />
    <link rel="alternate" type="application/json+oembed" href="https://swissyield.finance/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fswissyield.finance%2Fconnected%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://swissyield.finance/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fswissyield.finance%2Fconnected%2F&#038;format=xml" />
    <meta name="cdp-version" content="1.1.1" /><meta name="generator" content="Powered by Slider Revolution 6.2.22 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(e){
        //window.requestAnimationFrame(function() {
        window.RSIW = window.RSIW===undefined ? window.innerWidth : window.RSIW;
        window.RSIH = window.RSIH===undefined ? window.innerHeight : window.RSIH;
        try {
            var pw = document.getElementById(e.c).parentNode.offsetWidth,
                    newh;
            pw = pw===0 || isNaN(pw) ? window.RSIW : pw;
            e.tabw = e.tabw===undefined ? 0 : parseInt(e.tabw);
            e.thumbw = e.thumbw===undefined ? 0 : parseInt(e.thumbw);
            e.tabh = e.tabh===undefined ? 0 : parseInt(e.tabh);
            e.thumbh = e.thumbh===undefined ? 0 : parseInt(e.thumbh);
            e.tabhide = e.tabhide===undefined ? 0 : parseInt(e.tabhide);
            e.thumbhide = e.thumbhide===undefined ? 0 : parseInt(e.thumbhide);
            e.mh = e.mh===undefined || e.mh=="" || e.mh==="auto" ? 0 : parseInt(e.mh,0);
            if(e.layout==="fullscreen" || e.l==="fullscreen")
                newh = Math.max(e.mh,window.RSIH);
            else{
                e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                for (var i in e.rl) if (e.gw[i]===undefined || e.gw[i]===0) e.gw[i] = e.gw[i-1];
                e.gh = e.el===undefined || e.el==="" || (Array.isArray(e.el) && e.el.length==0)? e.gh : e.el;
                e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                for (var i in e.rl) if (e.gh[i]===undefined || e.gh[i]===0) e.gh[i] = e.gh[i-1];

                var nl = new Array(e.rl.length),
                        ix = 0,
                        sl;
                e.tabw = e.tabhide>=pw ? 0 : e.tabw;
                e.thumbw = e.thumbhide>=pw ? 0 : e.thumbw;
                e.tabh = e.tabhide>=pw ? 0 : e.tabh;
                e.thumbh = e.thumbhide>=pw ? 0 : e.thumbh;
                for (var i in e.rl) nl[i] = e.rl[i]<window.RSIW ? 0 : e.rl[i];
                sl = nl[0];
                for (var i in nl) if (sl>nl[i] && nl[i]>0) { sl = nl[i]; ix=i;}
                var m = pw>(e.gw[ix]+e.tabw+e.thumbw) ? 1 : (pw-(e.tabw+e.thumbw)) / (e.gw[ix]);
                newh =  (e.gh[ix] * m) + (e.tabh + e.thumbh);
            }
            if(window.rs_init_css===undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
            document.getElementById(e.c).height = newh+"px";
            window.rs_init_css.innerHTML += "#"+e.c+"_wrapper { height: "+newh+"px }";
        } catch(e){
            console.log("Failure at Presize of Slider:" + e)
        }
        //});
    };</script>
    <!-- Import of the web3 modules for internal use on the page -->
    <script src='node_modules/web3/dist/web3.min.js'></script>
</head>
<body class="page-template-default page page-id-5217 wp-custom-logo qode-framework-1.1.3  qodef-content-grid-1400 qodef-header--standard qodef-header-appearance--fixed qodef-mobile-header--standard qodef-drop-down-second--full-width qodef-drop-down-second--animate-height lekker-core-1.0.1 lekker-1.1 qodef-header-standard--right qodef-search--covers-header elementor-default elementor-template-full-width elementor-kit-4749 elementor-page elementor-page-5217" itemscope itemtype="https://schema.org/WebPage" onload="loadsmartcontract()">
<div id="qodef-page-wrapper" class="">
    <header id="qodef-page-header">
        <div id="qodef-page-header-inner" >
            <a itemprop="url" class="qodef-header-logo-link qodef-height--set" href="https://swissyield.finance/" style="height:320px" rel="home">
                <img width="983" height="287" src="https://swissyield.finance/wp-content/uploads/2021/02/swissyield.png" class="qodef-header-logo-image qodef--main" alt="logo main" loading="lazy" />
                <img width="983" height="287" src="https://swissyield.finance/wp-content/uploads/2021/02/swissyield.png" class="qodef-header-logo-image qodef--dark" alt="logo dark" loading="lazy" />
                <img width="983" height="287" src="https://swissyield.finance/wp-content/uploads/2021/02/swissyield.png" class="qodef-header-logo-image qodef--light" alt="logo light" loading="lazy" />
            </a>
            <nav class="qodef-header-navigation" role="navigation" aria-label="Top Menu">
                <ul id="menu-name-1" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4794">
                        <a href="https://swissyield.finance"><span class="qodef-menu-item-text">Home</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <header id="qodef-page-mobile-header">
        <div id="qodef-page-mobile-header-inner">
            <div class="qodef-page-mobile-header-logo-opener">
                <a itemprop="url" class="qodef-mobile-header-logo-link" href="https://swissyield.finance/" style="height:26px" rel="home">
                    <img width="512" height="512" src="https://swissyield.finance/wp-content/uploads/2020/10/test.png" class="qodef-header-logo-image qodef--main" alt="logo main" loading="lazy" />
                    <img width="983" height="287" src="https://swissyield.finance/wp-content/uploads/2021/02/cropped-swissyieldq-1.png" class="qodef-header-logo-image qodef--main qodef--customizer" alt="swissyield finance" loading="lazy" itemprop="logo" srcset="https://swissyield.finance/wp-content/uploads/2021/02/cropped-swissyieldq-1.png 983w, https://swissyield.finance/wp-content/uploads/2021/02/cropped-swissyieldq-1-300x88.png 300w, https://swissyield.finance/wp-content/uploads/2021/02/cropped-swissyieldq-1-768x224.png 768w" sizes="(max-width: 983px) 100vw, 983px" />
                </a>
                <a class="qodef-mobile-header-opener" href="#">
                        <span class="qodef-m-lines">
                            <span class="qodef-m-line qodef--1"></span>
                            <span class="qodef-m-line qodef--2"></span>
                        </span>
                </a>
            </div>
            <nav class="qodef-mobile-header-navigation" role="navigation" aria-label="Mobile Menu">
                <ul id="menu-name-3" class="qodef-content-grid">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-4794">
                        <a href="https://swissyield.finance">
                            <span class="qodef-menu-item-text">Home</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="qodef-page-outer">
        <div id="qodef-page-inner" class="qodef-content-grid">
            <div data-elementor-type="wp-page" data-elementor-id="5217" class="elementor elementor-5217" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-543d4fe elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="543d4fe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-narrow">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-dee4835" data-id="dee4835" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-fe943ce" data-id="fe943ce" data-element_type="column">
                                        <div class="elementor-column-wrap">
                                            <div class="elementor-widget-wrap">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4d419e5" data-id="4d419e5" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-9e57e77 elementor-widget elementor-widget-text-editor" data-id="9e57e77" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h6>Connected Wallet</h6>
                                                            <!-- <h5 id="walletID">0x1223425345456x</h5>-->
                                                            <h5 id="walletID" onload="loadAddress()"></h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-242bc89 elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="242bc89" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-06d736f" data-id="06d736f" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-58a85ef elementor-widget elementor-widget-spacer" data-id="58a85ef" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-e9404d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="e9404d8" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;shape_divider_top&quot;:&quot;mountains&quot;}">
                            <div class="elementor-shape elementor-shape-top" data-negative="false">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                                    <path class="elementor-shape-fill" opacity="0.33" d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"/>
                                    <path class="elementor-shape-fill" opacity="0.66" d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"/>
                                    <path class="elementor-shape-fill" d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"/>
                                </svg>
                            </div>
                            <div class="elementor-container elementor-column-gap-narrow">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4b04d69" data-id="4b04d69" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-ea6df49 elementor-widget elementor-widget-text-editor" data-id="ea6df49" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h5>Balance</h5>
                                                            <h3 class="currentBalance">0 SWYFI</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-52637be" data-id="52637be" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-eea412a elementor-widget elementor-widget-text-editor" data-id="eea412a" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h5>Current Pile</h5>
                                                            <h3 class="currentPile">0 CRV</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-22c6793" data-id="22c6793" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-6411275 elementor-widget elementor-widget-text-editor" data-id="6411275" data-element_type="widget" data-widget_type="text-editor.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-text-editor elementor-clearfix">
                                                            <h5>Rewards</h5>
                                                            <h3 class="currentRewards">0 SWYFI</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-7518b28 elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="7518b28" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f8c1e54" data-id="f8c1e54" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-a3d92c5 elementor-widget elementor-widget-spacer" data-id="a3d92c5" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-699a888 elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no executePile" data-id="699a888" data-element_type="section" data-settings="{&quot;shape_divider_top&quot;:&quot;mountains&quot;}" style="display: none">
                            <input type="number" class ="inputfield" placeholder="Amount">
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper" >
                                    <a href="/connected" class="elementor-button-link elementor-button elementor-size-lg pile btn" role="button" style="width: 100%;">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-icon elementor-align-icon-left">
                                                        <i aria-hidden="true" class="far fa-window-close"></i>
                                                    </span>
                                                    <span class="elementor-button-text">Pile</span>
                                                </span>
                                    </a>
                                </div>
                            </div><br>
                            <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper" >
                                    <a href="/connected" class="elementor-button-link elementor-button elementor-size-lg" role="button" style="width: 100%;">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-icon elementor-align-icon-left">
                                                        <i aria-hidden="true" class="far fa-window-close"></i>
                                                    </span>
                                                    <span class="elementor-button-text">Back</span>
                                                </span>
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="elementor-section elementor-top-section elementor-element elementor-element-10b4a4f elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="10b4a4f" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-12e166d" data-id="12e166d" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-8ad3431 elementor-widget elementor-widget-spacer" data-id="8ad3431" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-f6a7877 elementor-section-boxed elementor-section-height-default elementor-section-height-default qodef-elementor-content-no" data-id="f6a7877" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-e72da01" data-id="e72da01" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-0c001b9 elementor-widget elementor-widget-spacer" data-id="0c001b9" data-element_type="widget" data-widget_type="spacer.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="elementor-spacer">
                                                            <div class="elementor-spacer-inner"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div><!-- close #qodef-page-inner div from header.php -->
    </div><!-- close #qodef-page-outer div from header.php -->
    <footer id="qodef-page-footer" >
        <div id="qodef-page-footer-bottom-area">
            <div id="qodef-page-footer-bottom-area-inner" class="qodef-content-grid">
                <div class="qodef-grid qodef-layout--columns qodef-responsive--custom qodef-col-num--1">
                    <div class="qodef-grid-inner clear">
                        <div class="qodef-grid-item">
                            <div id="lekker_core_social_icons_group-8" class="widget widget_lekker_core_social_icons_group" data-area="footer_bottom_area_column_1">
                                <div class="qodef-social-icons-group">
                                        <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#dd5a5a" style="margin: 8px">
                                            <span class="qodef-icon-elegant-icons social_twitter qodef-icon qodef-e" style="color: #ffffff;font-size: 36px" ></span>
                                        </span>
                                    <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#dd5a5a" style="margin: 8px">
                                            <span class="qodef-icon-font-awesome fab fa-medium qodef-icon qodef-e" style="font-size: 36px" ></span>
                                        </span>
                                    <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#dd5a5a" style="margin: 8px">
                                            <span class="qodef-icon-font-awesome fab fa-telegram qodef-icon qodef-e" style="font-size: 36px" ></span>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div id="qodef-side-area" >
        <a href="javascript:void(0)" id="qodef-side-area-close" class="qodef-opener-icon qodef-m qodef-source--icon-pack"  >
                <span class="qodef-m-icon qodef--open">
                    <span class="qodef-icon-elegant-icons icon_close" ></span>
                </span>
        </a>
        <div id="qodef-side-area-inner">
            <div id="lekker_core_separator-13" class="widget widget_lekker_core_separator" data-area="side-area">
                <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                    <div class="qodef-m-line" style="border-color: #ffffff;margin-top: 11px"></div>
                </div>
            </div>
            <div id="text-3" class="widget widget_text" data-area="side-area">
                <div class="textwidget">
                    <p>Ich teste</p>
                </div>
            </div>
            <div id="lekker_core_separator-15" class="widget widget_lekker_core_separator" data-area="side-area">
                <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                    <div class="qodef-m-line" style="border-color: #ffffff;border-bottom-width: 0px;margin-bottom: -2px"></div>
                </div>
            </div>
            <div id="text-4" class="widget widget_text" data-area="side-area">
                <h5 class="qodef-widget-title">Where to find us</h5>
                <div class="textwidget">
                    <p>adresse</p>
                </div>
            </div>
            <div id="lekker_core_separator-14" class="widget widget_lekker_core_separator" data-area="side-area">
                <div class="qodef-shortcode qodef-m  qodef-separator clear ">
                    <div class="qodef-m-line" style="border-color: #ffffff;border-style: solid;border-bottom-width: 0px;margin-bottom: -6px"></div>
                </div>
            </div>
            <div id="lekker_core_social_icons_group-4" class="widget widget_lekker_core_social_icons_group" data-area="side-area">
                <h5 class="qodef-widget-title">Social </h5>
                <div class="qodef-social-icons-group">
                        <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#d7d7d7" style="margin: 10px 29px 0 1px">
                            <span class="qodef-icon-elegant-icons icon_lightbulb qodef-icon qodef-e" style="font-size: 14px" ></span>
                        </span>
                    <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#d60000" style="margin: 10px 25px 0 0">
                            <a itemprop="url" href="https://twitter.com/QodeInteractive" target="_blank">
                                <span class="qodef-icon-elegant-icons social_twitter qodef-icon qodef-e" style="font-size: 14px" ></span>
                            </a>
                        </span>
                    <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#d7d7d7" style="margin: 10px 24px 0 0">
                            <a itemprop="url" href="https://www.facebook.com/QodeInteractive/" target="_blank">
                                <span class="qodef-icon-elegant-icons social_facebook qodef-icon qodef-e" style="font-size: 14px" ></span>
                            </a>
                        </span>
                    <span class="qodef-shortcode qodef-m  qodef-icon-holder  qodef-layout--normal" data-hover-color="#d7d7d7" style="margin: 10px 0px 0 0">
                            <a itemprop="url" href="https://www.pinterest.com/qodeinteractive/" target="_blank">
                                <span class="qodef-icon-elegant-icons social_pinterest qodef-icon qodef-e" style="font-size: 14px" ></span>
                            </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div><!-- close #qodef-page-wrapper div from header.php -->
<!-- Connects Instance of smartcontract with the current page -->
<script type="text/javascript">
    async function loadsmartcontract() {
        return await new window.web3.eth.Contract(
                [
                    {
                        "anonymous":false,
                        "inputs":[
                            {"indexed":true,
                                "internalType":"address",
                                "name":"previousOwner",
                                "type":"address"},
                            {"indexed":true,
                                "internalType":"address",
                                "name":"newOwner",
                                "type":"address"
                            }
                        ],
                        "name":"OwnershipTransferred",
                        "type":"event"
                    },
                    {
                        "anonymous":false,
                        "inputs":[
                            {
                                "indexed":false,
                                "internalType":"uint256",
                                "name":"reward","type":"uint256"
                            }
                        ],
                        "name":"RewardAdded",
                        "type":"event"
                    },
                    {
                        "anonymous":false,
                        "inputs":[
                            {
                                "indexed":true,
                                "internalType":"address",
                                "name":"user",
                                "type":"address"
                            },
                            {
                                "indexed":false,
                                "internalType":"uint256",
                                "name":"reward",
                                "type":"uint256"
                            }
                        ],
                        "name":"RewardPaid",
                        "type":"event"
                    },
                    {
                        "anonymous":false,
                        "inputs":[
                            {
                                "indexed":true,
                                "internalType":"address",
                                "name":"user",
                                "type":"address"
                            },
                            {
                                "indexed":false,
                                "internalType":"uint256",
                                "name":"amount",
                                "type":"uint256"
                            }
                        ],
                        "name":"Staked",
                        "type":"event"
                    },
                    {
                        "anonymous":false,
                        "inputs":[
                            {
                                "indexed":true,
                                "internalType":"address",
                                "name":"user",
                                "type":"address"
                            },
                            {
                                "indexed":false,
                                "internalType":"uint256",
                                "name":"amount",
                                "type":"uint256"
                            }
                        ],
                        "name":"Withdrawn",
                        "type":"event"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"DURATION",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"account",
                                "type":"address"
                            }
                        ],
                        "name":"balanceOf",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"account",
                                "type":"address"
                            }
                        ],
                        "name":"earned",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[],
                        "name":"exit",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[],
                        "name":"getReward",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"initreward",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"isOwner",
                        "outputs":[
                            {
                                "internalType":"bool",
                                "name":"",
                                "type":"bool"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"lastTimeRewardApplicable",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"lastUpdateTime",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[
                            {
                                "internalType":"uint256",
                                "name":"reward",
                                "type":"uint256"
                            }
                        ],
                        "name":"notifyRewardAmount",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"owner",
                        "outputs":[
                            {
                                "internalType":"address",
                                "name":"",
                                "type":"address"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"periodFinish",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[],
                        "name":"renounceOwnership",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"rewardPerToken",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"rewardPerTokenStored",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"rewardRate",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"",
                                "type":"address"
                            }
                        ],
                        "name":"rewards",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"_rewardDistribution",
                                "type":"address"
                            }
                        ],
                        "name":"setRewardDistribution",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[
                            {
                                "internalType":"uint256",
                                "name":"amount",
                                "type":"uint256"
                            }
                        ],
                        "name":"stake",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"starttime",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"totalSupply",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"newOwner",
                                "type":"address"
                            }
                        ],
                        "name":"transferOwnership",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[
                            {
                                "internalType":"address",
                                "name":"",
                                "type":"address"
                            }
                        ],
                        "name":"userRewardPerTokenPaid",
                        "outputs":[
                            {
                                "internalType":"uint256",
                                "name":"",
                                "type":"uint256"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":false,
                        "inputs":[
                            {
                                "internalType":"uint256",
                                "name":"amount",
                                "type":"uint256"
                            }
                        ],
                        "name":"withdraw",
                        "outputs":[],
                        "payable":false,
                        "stateMutability":"nonpayable",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"y",
                        "outputs":[
                            {
                                "internalType":"contract IERC20",
                                "name":"",
                                "type":"address"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    },
                    {
                        "constant":true,
                        "inputs":[],
                        "name":"yfi",
                        "outputs":[
                            {
                                "internalType":"contract IERC20",
                                "name":"",
                                "type":"address"
                            }
                        ],
                        "payable":false,
                        "stateMutability":"view",
                        "type":"function"
                    }
                ],'0xedefFa2877C4E6047B7b4044b1Fa8E0bA3Bc38dd'
        );
    }
    async function loadBalance(){
        const currentBalance = document.querySelector('.currentBalance');
        currentBalance.addEventListener('onload', async () => {
            const account = window.ethereum.selectedAddress;
            const balance = await window.contract.methods.balanceOf(account).call();
            document.querySelector('.currentBalance').innerHTML = balance + ' SWYFI';
        });
    }

    async function loadRewards(){
        const currentRewards = document.querySelector('.currentRewards');
        currentRewards.addEventListener('onload', async () => {
            const account = window.ethereum.selectedAddress;
            const rewards = await window.contract.methods.rewards(account).call();
            document.querySelector('.currentRewards').innerHTML = rewards + ' SWYFI';
        });
    }
    async function load() {
        window.web3 = new Web3(window.ethereum);
        window.ethereum.enable();
        loadBalance();
        window.contract = await loadsmartcontract();
    }
    load();
</script>

<script>
    const sendEthButton = document.querySelector('.pile');
    sendEthButton.addEventListener('click', async () =>{
        const amount = ((parseInt(document.querySelector('.inputfield').value) != "" )||(parseInt(document.querySelector('.inputfield').value) > 0 ))? parseInt(document.querySelector('.inputfield').value):0;
        const value = Math.floor(amount);
        const account = window.ethereum.selectedAddress;
        await window.contract.methods.stake(value).send({ from: account });
        const balance = await window.contract.methods.balanceOf(account).call();
        document.querySelector('.currentBalance').innerHTML = balance + ' SWYFI';
        const rewards = await window.contract.methods.rewards(account).call();
        document.querySelector('.currentRewards').innerHTML = rewards + ' SWYFI';
    });
</script>

<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/assets/plugins/perfect-scrollbar/perfect-scrollbar.jquery.min.js?ver=5.5.3' id='perfect-scrollbar-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-includes/js/hoverIntent.min.js?ver=1.8.1' id='hoverIntent-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/assets/plugins/jquery/jquery.easing.1.3.js?ver=5.5.3' id='jquery-easing-1.3-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/assets/plugins/modernizr/modernizr.js?ver=5.5.3' id='modernizr-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/assets/plugins/tweenmax/tweenmax.min.js?ver=5.5.3' id='tweenmax-js'></script>
<script type='text/javascript' id='lekker-main-min-js-js-extra'>
    /* <![CDATA[ */
    var qodefGlobal = {"vars":{"adminBarHeight":0,"topAreaHeight":0,"restUrl":"https:\/\/swissyield.finance\/wp-json\/","paginationRestRoute":"lekker\/v1\/get-posts","paginationNonce":"87433aa788","headerHeight":150,"mobileHeaderHeight":70}};
    /* ]]> */
</script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/themes/lekker/assets/js/main.min.js?ver=5.5.3' id='lekker-main-min-js-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/assets/js/lekker-core.min.js?ver=5.5.3' id='lekker-core-script-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/themes/lekker/assets/plugins/waitforimages/jquery.waitforimages.js?ver=5.5.3' id='jquery-waitforimages-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/themes/lekker/assets/plugins/appear/jquery.appear.js?ver=5.5.3' id='jquery-appear-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/themes/lekker/assets/plugins/magnific-popup/jquery.magnific-popup.min.js?ver=5.5.3' id='jquery-magnific-popup-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-includes/js/wp-embed.min.js?ver=5.5.3' id='wp-embed-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.0.11' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-includes/js/jquery/ui/position.min.js?ver=1.11.4' id='jquery-ui-position-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.0.11' id='share-link-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
    var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.0.11","is_static":false,"legacyMode":{"elementWrappers":true},"urls":{"assets":"https:\/\/swissyield.finance\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"body_background_background":"classic","global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":5217,"title":"Connected%20%E2%80%93%20swissyield%20finance","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.0.11' id='elementor-frontend-js'></script>
<script type='text/javascript' id='lekker-core-elementor-js-extra'>
    /* <![CDATA[ */
    var qodefElementorGlobal = {"vars":{"elementorSectionHandler":[]}};
    /* ]]> */
</script>
<script type='text/javascript' src='https://swissyield.finance/wp-content/plugins/lekker-core/inc/plugins/elementor/assets/js/elementor.js?ver=5.5.3' id='lekker-core-elementor-js'></script>
</body>
</html>
